body {
  font-family: Enriqueta, serif;
  margin: 4em 4em;
  margin-bottom: 0;
}

h1 {
  border-bottom: 1pt solid black;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.clearfix {
  overflow: hidden;
}

.two-col {
  display: table;
  section {
    display: table-row;

    .label, .details {
      padding: 1em 0;
      display: table-cell;
    }

    .label {
      vertical-align: top;
      font-variant: small-caps;
      white-space: nowrap;
      padding-right: 2em;
    }

    .details {
      width: 100%;  // take max available
      .date {
        float: right;
        font-weight: bold;
        margin-left: 2em;
      }
      ul {
        &.flushleft {
          padding-left: 0;
        }
        padding: 0 0 0 1em;
        margin: 0;
        margin-bottom: 1em;
        li {
          list-style: none;
        }
      }
    }
  }
}
